<!DOCTYPE html>
<html lang="en">

<%- include("../parcials/head.ejs", {stylesheet: ["stylehome", "style_crear_editarProducto", "style_login" ]}); %>

  <body>

    <%- include("../parcials/headerAdmin.ejs"); %>

      <form action="/products/store" method="POST" class="form" enctype="multipart/form-data">
        <div>
          <h4>CREAR PRODUCTO</h4>
        </div>
        <div id="error" class="invalid-feedback"></div>
        <div>
          <input type="text" name="titulo" id="titulo" placeholder="Nombre producto" minlength="1"
            class="input-text">
        </div>
        <div id="tituloError" class="invalid-feedback"></div>
        <% if (locals.errors && errors.titulo) { %>
          <div class="invalid-feedback">
           <%= errors.titulo.msg %>
          </div>
           <% } %>
        <div>
          <input type="text" name="anio" id="anio" placeholder="Año" minlength="3" class="input-text">
        </div>
        <% if (locals.errors && errors.anio) { %>
          <div class="invalid-feedback">
           <%= errors.anio.msg %>
          </div>
           <% } %>
        <div class="categoria">
          <label for="autor">Autor</label>
          <select name="id_autor" id="autor">
            <% for (let i=0; i < autores.length; i++) {%>
              <option value="<%= autores[i].id %>">
                <%= autores[i].fullname %>
              </option>
              <% } %>
          </select>
        </div>
        <div class="descripcion">
          <label for="descripcion">Descripción</label>
        </div>
        <div>
          <textarea name="descripcion" id="descripcion" cols="100" rows="6"></textarea>
        </div>
        <div id="descripcionError" class="invalid-feedback"></div>
        <% if (locals.errors && errors.descripcion) { %>
          <div class="invalid-feedback">
           <%= errors.descripcion.msg %>
          </div>
           <% } %>
        <div class="categoria">
          <label for="genero">Género</label>
          <select name="id_genero" id="genero">
            <% for (let i=0; i < generos.length; i++) {%>
              <option value="<%= generos[i].id %>">
                <%= generos[i].genero %>
              </option>
              <% } %>
          </select>
        </div>
        <div class="categoria">
          <label for="categoria">Categoria</label>
          <select name="id_categoria" id="categoria">
            <% for (let i=0; i < categorias.length; i++) {%>
            <option value="<%= categorias[i].id %>">
              <%= categorias[i].categoria %>
            </option>
            <% } %>
          </select>
        </div>
        <div>
          <input type="text" name="precio" id="precio" placeholder="Precio" class="input-text">
        </div>
        <% if (locals.errors && errors.precio) { %>
          <div class="invalid-feedback">
           <%= errors.precio.msg %>
          </div>
           <% } %>
        <div class="div-foto">
          <label for="" class="nombre-reg">Ingresá una imagen del producto:</label>
          <input type="file" name="imagen" id="imagen">
        </div>
        <div id="imagenError" class="invalid-feedback"></div>
        <% if (locals.errors && errors.imagen) { %>
          <div class="invalid-feedback">
           <%= errors.imagen.msg %>
          </div>
           <% } %>
        <div class="div-bot">
          <input type="submit" value="Crear producto" class="but-submit botones">
        </div>
      </form>
      <%- include("../parcials/footerAdmin.ejs"); %>
    <script src="/js/validateProductFront.js"></script>
  </body>

</html>