<!DOCTYPE html>
<html lang="en">

<%- include("../parcials/head.ejs", {stylesheet: ["stylehome", "style_crear_editarProducto" ]}); %>

  <body>

    <%- include("../parcials/headerAdmin.ejs"); %>

      <form action="/products/store" method="POST" class="form">
        <div>
          <h4>CREAR PRODUCTO</h4>
        </div>
        <div>
          <input type="text" name="titulo" id="titulo" placeholder="Nombre producto" minlength="3" required
            class="input-text">
        </div>
        <div class="">
          <label for="">Autor</label>
        </div>
        <div>
          <input type="text" name="autor-nombre" id="autor" placeholder="Nombre" minlength="3" required
            class="input-text">
        </div>
        <div>
            <input type="text" name="autor-apellido" id="autor" placeholder="Apellido" minlength="3" required
            class="input-text">
        </div>
        <div class="descripcion">
          <label for="descripcion">Descripción</label>
        </div>
        <div>
          <textarea name="descripcion" id="descripcion" cols="100" rows="6"></textarea>
        </div>
        <div>
          <label for="genero">Género</label>
          <select name="id_genero" id="genero">
            <% for (let i = 0; i < generos.length; i++) {%>
                <option value="<%= generos[i].id %>">
                  <%= generos[i].genero %>
                </option>
                <% } %>
          </select>
        </div>
        <div class="categoria">
          <label for="categoria">Categoria</label>
          <select name="id_categoria" id="categoria">
            <option value="1">BESTSELLERS</option>
            <option value="3">NUEVOS LANZAMIENTOS</option>
            <option value="2">OTROS</option>
          </select>
        </div>
        <div>
          <input type="text" name="year" id="year" placeholder="Año" minlength="4" required class="input-text">
        </div>
        <div>
          <input type="text" name="precio" id="precio" placeholder="$ Precio" class="input-text" required>
        </div>
        <div class="div-foto">
          <label for="" class="nombre-reg">Ingresá una imagen del producto:</label>
          <input type="file" name="imagen" id="imagen" accept=".jpg, .png">
        </div>
        <div class="div-bot">
          <input type="submit" value="Crear producto" class="but-submit botones">
        </div>
      </form>
      <%- include("../parcials/footerAdmin.ejs"); %>
  </body>

</html>