<!DOCTYPE html>
<html lang="en">

<%- include("../parcials/head.ejs", {stylesheet: ["stylehome", "style_detalleProducto" ]}); %>

  <body>
    <%- include("../parcials/header.ejs"); %>
      <main>
        <section>
          <div class="container-producto">
            <div class="box-producto">
              <img src="/img/products/<%= producto.imagen %>" alt="<%= producto.titulo %>">
              <div class="info-y-link">
                <div class="informacion-producto">
                  <h3 class="titulo">
                    <%= producto.titulo %>
                  </h3>
                  <p class="desc">
                    <%= producto.descripcion %>
                  </p>
                  <p class="price">
                    $ <%= producto.precio %>
                  </p>
                  <% autores.forEach(autor=> {%>
                    <% if(autor.id==producto.id_autor){ %>
                      <p class="data-prod">Autor: <%= autor.fullname %>
                      </p>
                      <% } %>
                    <% }) %>
                  <% generos.forEach(genero=> {%>
                    <% if(genero.id==producto.id_genero){ %>
                      <p class="data-prod">Género: <%= genero.genero %>
                      </p>
                    <% } %>
                  <% }) %>
                </div>
                <div id="otros-libros">
                  <a href="/products/del-autor/<%= producto.id_autor %>" class="ver-otros">Ver otros libros de este autor</a>
                </div>
              </div>
              <div class="butt-container">
                <a href="#" class="buy-now-button">Comprar</a>
                <% if (locals.userLogged && locals.userLogged.id_rol==2) { %>
                  <a href="/products/edit/<%= producto.id %>" class="action-button edit">Editar Producto</a>
                  <form action="/products/<%= producto.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                    <button type="submit" class="action-button delete">Eliminar</button>
                  </form>
                  <% } %>
              </div>
            </div>
          </div>
        </section>
      </main>
      <%- include("../parcials/roulette"); %>
        <section class="news">
          <form action="" method="">
            <label for="name" class="novedades">Novedades</label>
            <div class="send-email">
              <input type="text" placeholder="Nombre" id="name" class="name">
              <input type="email" placeholder="Escribi tu email" class="email">
              <button type="submit"><i class="fas fa-arrow-right"></i></button>
            </div>
          </form>
        </section>
      <%- include("../parcials/footer.ejs"); %>
  </body>

</html>