<!DOCTYPE html>
<html lang="en">

<%- include("../parcials/head.ejs", {stylesheet: ["stylehome", "style_detalleProducto" ]}); %>

  <body>
    <%- include("../parcials/header.ejs"); %>
      <main>
        <section>
          <div class="container-producto">
            <div class="box-producto">
              <img src="/img/products/<%= product.imagen %>" "alt=" <%=product.titulo %>"">
              <div class="info-y-link">
                <div class="informacion-producto">
                  <h3 class="titulo">
                    <%= product.titulo %>
                  </h3>
                  <p class="desc">
                    <%= product.descripcion %>
                  </p>
                  <p class="price">
                    <%= product.precio %>
                  </p>
                  <p class="data-prod">Autor: <%= product.autor %>
                  </p>
                  <p class="data-prod">Género: <%= product.genero %>
                  </p>
                </div>
                <div id="otros-libros">
                  <a href="#" class="ver-otros">Ver otros libros de este autor</a>
                </div>
              </div>
              <div class="butt-container">
                <a href="#" class="buy-now-button">Comprar</a>
                <a href="/products/edit/<%= product.id %>" class="action-button edit">Editar Producto</a>
                <form action="/products/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                  <button type="submit" class="action-button delete">Eliminar</button>
                </form>
              </div>
            </div>
          </div>
        </section>
        <hr>
      </main>
      <%- include("../parcials/footer.ejs"); %>
  </body>

</html>