<!DOCTYPE html>
<html lang="en">

<%- include("../parcials/head.ejs", {stylesheet: ["stylehome", "style_detalleProducto" ]}); %>

  <body>
    <%- include("../parcials/header.ejs"); %>
      <main>
        <section>
          <div class="container-producto">
            <div class="box-producto">
              <img src="/img/products/<%= detail.imagen %>" "alt=" <%=detail.titulo %>"">
              <div class="info-y-link">
                <div class="informacion-producto">
                  <h3 class="titulo">
                    <%= detail.titulo %>
                  </h3>
                  <p class="desc">
                    <%= detail.descripcion %>
                  </p>
                  <p class="price">
                    <%= detail.precio %>
                  </p>
                  <p class="data-prod">Autor: <%= autor.fullname %>
                  </p>
                  <p class="data-prod">Género: <%= genero.genero %>
                  </p>
                </div>
                <div id="otros-libros">
                  <a href="#" class="ver-otros">Ver otros libros de este autor</a>
                </div>
              </div>
              <div class="butt-container">
                <a href="#" class="buy-now-button">Comprar</a>
                <% if (locals.userLogged.id_rol==2) { %>
                  <a href="/products/edit/<%= detail.id %>" class="action-button edit">Editar Producto</a>
                  <form action="/products/<%= detail.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                    <button type="submit" class="action-button delete">Eliminar</button>
                  </form>
                  <% } %>
              </div>
            </div>
          </div>
        </section>
        <hr>
      </main>
      <%- include("../parcials/footer.ejs"); %>
  </body>

</html>