<!DOCTYPE html>
<html lang="en">

<%- include("../parcials/head.ejs", {stylesheet: ["stylehome", "style_crear_editarProducto" , "style_login" ]}); %>

  <body>

    <%- include("../parcials/headerAdmin.ejs"); %>

      <form action="/products/<%= producto.id %>?_method=PUT" method="POST" class="form">
        <div>
          <h4>EDITAR PRODUCTO</h4>
        </div>
        <div>
          <input type="text" name="titulo" id="nombre" placeholder="Nombre del producto" minlength="3"
            class="input-text" value="<%= producto.titulo %>">
        </div>
        <% if (locals.errors && errors.titulo) { %>
          <div class="invalid-feedback">
           <%= errors.titulo.msg %>
          </div>
           <% } %>
        <div>
          <input type="text" name="anio" id="anio" placeholder="Año" minlength="4" class="input-text" value="<%= producto.anio %>">
        </div>
        <% if (locals.errors && errors.anio) { %>
          <div class="invalid-feedback">
           <%= errors.anio.msg %>
          </div>
           <% } %>
        <div class="categoria">
            <label for="autor">Autor</label>
              <select name="id_autor" id="autor">
                <% autores.forEach(autor=> {%>
                <option value="<%= autor.id %>" <% if(autor.id==producto.id_autor){ %>
                <%= 'selected' %>
                <% }; %>>
                     <%= autor.fullname %>
                </option>
                <% }); %>
              </select>
          </div>
                <div class="categoria">
                  <label for="genero">Género</label>
                  <select name="id_genero" id="genero">
                    <% generos.forEach(genero=> {%>
                      <option value="<%= genero.id %>" <% if(genero.id==producto.id_genero){ %>
                        <%= 'selected' %>
                          <% }; %>>
                            <%= genero.genero %>
                      </option>
                      <% }); %>
                  </select>
                </div>
                <div class="categoria">
                  <label for="categoria">Categoria</label>
                  <select name="id_categoria" id="categoria">
                    <% categorias.forEach(categoria=> {%>
                      <option value="<%= categoria.id %>" <% if(categoria.id==producto.id_categoria){ %>
                        <%= 'selected' %>
                          <% }; %>>
                            <%= categoria.categoria %>
                      </option>
                      <% }); %>
                  </select>
                </div>
                <div class="descripcion">
                  <label for="descripcion">Descripción</label>
                </div>
                <div>
                  <textarea name="descripcion" id="descripcion" cols="100"
                    rows="5"><%= producto.descripcion %></textarea>
                </div>
                <% if (locals.errors && errors.descripcion) { %>
                  <div class="invalid-feedback">
                   <%= errors.descripcion.msg %>
                  </div>
                   <% } %>
                <div>
                  <input type="text" name="precio" id="precio" placeholder="$ Precio" class="input-text" required
                    value="<%= producto.precio %>">
                </div>
                <% if (locals.errors && errors.precio) { %>
                  <div class="invalid-feedback">
                   <%= errors.precio.msg %>
                  </div>
                   <% } %>
                <div class="div-foto">
                  <label for="" class="nombre-reg">Cambiar imagen del producto:</label>
                  <img src="/img/products/<%= producto.imagen %>"" alt=" <%=producto.titulo %>"" class="libro-edit">
                  <input type="file" name="imagen" id="imagen" accept=".jpg, .png">
                </div>
                <% if (locals.errors && errors.imagen) { %>
                  <div class="invalid-feedback">
                   <%= errors.imagen.msg %>
                  </div>
                   <% } %>
                <div class="div-bot">
                  <input type="submit" value="Editar producto" class="but-submit botones">
                </div>
      </form>
      <%- include("../parcials/footerAdmin.ejs"); %>
  </body>

</html>