<!DOCTYPE html>
<html lang="en">

<%- include("../parcials/head.ejs", {stylesheet: ["stylehome", "style_crear_editarProducto" ]}); %>

  <body>

    <%- include("../parcials/headerAdmin.ejs"); %>

      <form action="/products/<%= products.id %>?_method=PUT" method="POST"  class="form">
        <div>
          <h4>EDITAR PRODUCTO</h4>
        </div>
        <div>
          <input type="text" name="titulo" id="nombre" placeholder="Nombre del producto" minlength="3" required
            class="input-text" value="<%= products.titulo %>">
        </div>
        <div>
          <input type="text" name="autor" id="autor" placeholder="Autor" minlength="3" required
            class="input-text" value="<%= products.autor %>">
        </div>
        <div>
          <input type="text" name="genero" id="genero" placeholder="Género" class="input-text" value="<%= products.genero %>">
        </div>
        <div class="categoria">
          <label for="categoria">Categoria</label>
          <select name="categoria" id="categoria">
            <option value="bestsellers" <% products.categoria == "bestseller" ? "selected" : null %> >BESTSELLERS</option>
            <option value="nuevos-lanzamientos" <% products.categoria == "nuevos-lanzamientos" ? "selected" : null %> >NUEVOS LANZAMIENTOS</option>
            <option value="otros" <% products.categoria == "otros" ? "selected" : null %> >OTROS</option>
          </select>
        </div>
        <div class="descripcion">
          <label for="descripcion">Descripción</label>
        </div>
        <div>
          <textarea name="descripcion" id="descripcion" cols="100" rows="5"><%= products.descripcion %></textarea>
        </div>
        <div>
          <input type="text" name="precio" id="precio" placeholder="$ Precio" class="input-text" required value="<%= products.precio %>">
        </div>
        <div class="div-foto">
          <label for="" class="nombre-reg">Cambiar imagen del producto:</label>
          <img src="/img/products/<%= products.imagen %>"" alt="<%= products.titulo %>"" class="libro-edit">
          <input type="file" name="imagen" id="imagen" accept=".jpg, .png">
        </div>
        <div class="div-bot">
          <input type="submit" value="Editar producto" class="but-submit botones">
        </div>
      </form>
      <%- include("../parcials/footerAdmin.ejs"); %>
  </body>

</html>