<!DOCTYPE html>
<html lang="en">

<%- include("../parcials/head", {stylesheet: ["stylehome"]}) %>

    <body>
        <%- include("../parcials/header"); %>
        <main>
            <div class="bottom-section">
                <h3><a href="#">Nuevos Lanzamientos</a></h3>
                <% for(let i=0; i < nuevosLanzamientos.length; i++){ %>
                    <article>
                      <a href="/products/<%= nuevosLanzamientos[i].id %>"><img src="/img/products/<%= nuevosLanzamientos[i].imagen %>"
                          alt="<%= nuevosLanzamientos[i].titulo %>" width="150px"></a>
                      <div class="box-book">
                        <p class="title">
                          <%= nuevosLanzamientos[i].titulo %>
                        </p>
                      </div>
                    </article>
                    <% } %>
              </div>
        </main>
            <%- include("../parcials/footer"); %>
    </body>

</html>