<!DOCTYPE html>
<html lang="en">

<%- include("../parcials/head", { stylesheet: ["stylehome","nl-b"] }) %>

  <body>
    <%- include("../parcials/header"); %>
      <main>
        <h1 class="title-h1">Resultado de búsqueda por título</h1>
        <div class="box-ebooks">
          <% if(productos.length == 0) { %>
            <p style="font-size: 24px; font-weight: bold; color:var(--bgdark)">No se encontraron coincidencias</p>
          <% } else { %>
          <% for(let i=0; i < productos.length; i++){ %>
            <article>
              <div class="ebook">
                <a href="/products/<%= productos[i].id %>"><img src="/img/products/<%= productos[i].imagen %>"
                    alt="<%= productos[i].titulo %>" class="imagen-ebook"></a>
                <p class="ebook-title">
                  <%= productos[i].titulo %>
                </p>
              </div>
            </article>
            <% } %>
          <% } %>
        </div>
      </main>
      <%- include("../parcials/footer"); %>
  </body>

</html>