<!DOCTYPE html>
<html lang="en">

<%- include("./parcials/head", {stylesheet: ["stylehome"]}) %>

  <body>
    <%- include("./parcials/header"); %>
      <%- include("./parcials/roulette"); %>
        <main>
          <div class="top">
          <section id="destacado">
            <article>
              <h4>DESTACADO DEL MES</h4>
              <% for(let i=0; i < products.length; i++){ %>
                <% if(products[i].categoria == "destacado" ){ %>
                  <div class="destacado">
                    <a href="/products/<%= products[i].id %>"><img src="/img/products/<%= products[i].imagen %>"
                        alt="<%= products[i].titulo %>"></a>
                    <p class="title">
                      <%= products[i].titulo %>
                    </p>
                    <p class="price">
                      <%= products[i].precio %>
                    </p>
                    <p class="description">
                      <%= products[i].descripcion %>
                    </p>
                  </div>
                  <% } %>
                    <% } %>
            </article>
          </section>
          <section class="box-top">
            <div class="top-section">
              <h3><a href="#">BESTSELLERS</a></h3>
              <% for(let i=0; i < bestseller.length; i++){ %>
                  <article>
                    <a href="/products/<%= bestseller[i].id %>"><img src="/img/products/<%= bestseller[i].imagen %>"
                        alt="<%= bestseller[i].titulo %>"></a>
                    <div class="box-book">
                      <p class="title">
                        <%= bestseller[i].titulo %>
                      </p>
                      <p class="price">
                        <%= bestseller[i].precio %>
                      </p>
                      <p class="book-description">
                        <%= bestseller[i].descripcion %>
                      </p>
                    </div>
                  </article>
                  <% } %>
            </div>
          </section>
        </div>
          <section class="box-bottom">
            <div class="bottom-section">
              <h3><a href="#">NUEVOS LANZAMIENTOS</a></h3>
              <% for(let i=0; i < nuevosLanzamientos.length; i++){ %>
                <% if(nuevosLanzamientos[i].categoria == "nuevos-lanzamientos" ){ %>
                  <article>
                    <a href="/products/<%= nuevosLanzamientos[i].id %>"><img src="/img/products/<%= nuevosLanzamientos[i].imagen %>"
                        alt="<%= nuevosLanzamientos[i].titulo %>"></a>
                    <div class="box-book">
                      <p class="title">
                        <%= nuevosLanzamientos[i].titulo %>
                      </p>
                      <p class="price">
                        <%= nuevosLanzamientos[i].precio %>
                      </p>
                      <p class="book-description">
                        <%= nuevosLanzamientos[i].descripcion %>
                      </p>
                    </div>
                  </article>
                  <% } %>
                    <% } %>
            </div>
          </section>
        </main>
        <hr>
        <section class="news">
          <form action="" method="">
            <label for="name" class="novedades">NOVEDADES</label>
            <div class="send-email">
              <input type="text" placeholder="Nombre" id="name" class="name">
              <input type="email" placeholder="Escribi tu email" class="email">
              <button type="submit"><i class="fas fa-arrow-right"></i></button>
            </div>
          </form>
        </section>
        <hr>
        <%- include("./parcials/footer"); %>
  </body>

</html>