<!DOCTYPE html>
<html lang="en">

<%- include("../parcials/head.ejs", { stylesheet: ["stylehome", "style_register" ]}); %>

  <body>
    <%- include("../parcials/header.ejs"); %>
      <main class="main-register">
        <section class="form-register"> 
          <form action="/users/editarAvatar/<%= user.id %>" method="post" class="register" enctype="multipart/form-data">
            <div class="contenedor">
                <h5>CAMBIÁ TU FOTO</h5>
                <div class="box-form-2">
                  <div class="div-foto">
                    <p class="textos">Foto de perfil</p>
                    <img src="/img/users/<%= user.avatar %>" alt="image-avatar" class="user-avatar">
                    <input type="file" name="imagen" id="image" accept=".jpg, .png">
                    <% if (locals.errors && errors.imagen) { %>
                      <div class="img-error">
                        <%= errors.imagen.msg %>
                      </div>
                      <% } %>
                  </div>
                </div> 
            </div>
            <div class="box-form-3">
              <div>
                <input class="button" type="submit" value="Confirmar">
              </div>
            </div>
          </form>
        </section>
      </main>
      <%- include("../parcials/footer.ejs"); %>
  </body>

</html>