<!DOCTYPE html>
<html lang="en">

<%- include("../parcials/head.ejs", {stylesheet: ["stylehome", "style_login" ]}); %>

  <body>
    <%- include("../parcials/header.ejs"); %>
      <main class="login">
        
        <section class="form-login">
          <form action="/users/login" method="post" id="formulario">
            <div class="box-form">
              <h5>INICIAR SESIÓN</h5>
              <div id="error" class="invalid-feedback"></div>
              <div class="box-login">
                <div class="completar">
                  <i class="fas fa-user-circle"></i>
                  <input type="text" name="email" id="email" value="<%= locals.oldData ? oldData.email : null %>"
                    placeholder="Email">
                </div>
                <div id="emailError" class="invalid-feedback"></div>
                <% if (locals.errors && errors.email) { %>
                  <div class="invalid-feedback">
                    <%= errors.email.msg %>
                  </div>
                  <% } %>
                    <div class="completar">
                      <i class="fas fa-lock"></i>
                      <input type="password" name="password" value="" id="password" placeholder="Contraseña">
                    </div>
                    <div id="passwordError" class="invalid-feedback"></div>
                    <% if (locals.errors && errors.password) { %>
                      <div class="invalid-feedback">
                        <%= errors.password.msg %>
                      </div>
                      <% } %>
              </div>
              <% if (locals.mensajeError) { %>
                <div class="invalid-feedback">
                  <p class="error">
                    <%= mensajeError %>
                  </p>
                </div>
                <% } %>
                  <div class="recordame">
                    <input type="checkbox" name="recordame">
                    <label for="">Recordame</label>
                  </div>
                  <div class="boton">
                    <input type="submit" name="" value="Login">
                  </div>
                  <div class="links">
                    <p><a href="#">Recuperá tu contraseña</a></p>
                    <p><a href="/users/register">¿No tenés cuenta? Crea tu cuenta</a></p>
                  </div>
            </div>
          </form>
        </section>
      </main>
      <section class="news">
        <form action="" method="">
          <label for="name" class="novedades">Novedades</label>
          <div class="send-email">
            <input type="text" placeholder="Nombre" id="name" class="name">
            <input type="email" placeholder="Escribi tu email" class="email">
            <button type="submit"><i class="fas fa-arrow-right"></i></button>
          </div>
        </form>
      </section>
      <%- include("../parcials/footer.ejs"); %>
        <script src="/js/validateLoginFront.js"></script>
  </body>

</html>