<!DOCTYPE html>
<html lang="en">

<%- include("../parcials/head.ejs", {stylesheet: ["stylehome", "style_login" ]}); %>

  <body>
    <%- include("../parcials/header.ejs"); %>
      <main class="login">
        <section class="form-login">
          <form action="/" method="get">
            <div class="box-form">
              <h5>INICIAR SESIÓN</h5>
              <div class="box-login">
                <div class="completar">
                  <i class="fas fa-user-circle"></i>
                  <input type="text" name="Email" value="" placeholder="Email">
                  <% if (locals.errors && errors.Email) { %>
                    <div class="invalid-feedback">
                      <%= errors.Email.msg %>
                    </div>
                    <% } %>
                </div>
                <div class="completar">
                  <i class="fas fa-lock"></i>
                  <input type="password" name="Contraseña" value="" placeholder="Contraseña">
                  <% if (locals.errors && errors.Password) { %>
                    <div class="invalid-feedback">
                      <%= errors.Password.msg %>
                    </div>
                    <% } %>
                </div>
              </div>
              <div class="recordame">
                <input type="checkbox" name="recordame">
                <label for="recordame">Recordame</label>
              </div>
              <div class="boton">
                <input type="submit" name="" value="Login">
              </div>
              <div class="links">
                <p><a href="#">Recuperar Contraseña</a></p>
                <p><a href="/users/register">¿No tenés cuenta? Crea tu cuenta</a></p>
              </div>
            </div>
          </form>
        </section>
      </main>
      <hr class="hr-r-l">
      <%- include("../parcials/footer.ejs"); %>
  </body>

</html>