<!DOCTYPE html>
<html lang="en">
  <%- include("../parcials/head.ejs", {stylesheet: ["stylehome", "style_login" ]}); %>

  <body>
    <div class="" id="main-container">
      <%- include("../parcials/header.ejs"); %>

        
          <div class="">
            <div class="">
              <img src="/img/users/<%= user.avatar %>" class="profile" width="200">

            </div>
            <div class="">
              <h3>Hola <%= `${user.nombre} ${user.apellido}` %>
              </h3>
              <p class="font-abel">Tu email es: <a href="mailto:<%= user.email %>" class="mail">
                  <%= user.email %>
                </a></p>
              <p class="font-abel">Tipo de usuario: <%= user.id_rol %>
              </p>
              <hr>

              <a href="/users/editarUser/<%= user.id %>" class="mr-3 font-abel"><i class="fa fa-user pr-2" aria-hidden="true"></i>Editar datos de perfil</a>
              <a href="/users/editarPass/<%= user.id %>" class="mr-3 font-abel"><i class="fa fa-user pr-2" aria-hidden="true"></i>Cambiar contraseña</a>
              <a href="/users/editarAvatar/<%= user.id %>" class="mr-3 font-abel"><i class="fa fa-picture-o pr-2" aria-hidden="true"></i>Cambiar foto de perfil</a>
            </div>
            <div class="col-12 col-md-2 py-1 text-center text-md-left"></div>
          </div>
            <%- include("../parcials/footer.ejs"); %>
    </div>
  </body>

</html>