<!DOCTYPE html>
<html lang="en">

<%- include("../parcials/head.ejs", { stylesheet: ["stylehome", "style_register" ]}); %>

  <body>
    <%- include("../parcials/header.ejs"); %>
      <main class="main-register">
        <section class="form-register">
          <form action="/users/store" method="post" class="register" enctype="multipart/form-data">
            <div class="contenedor">
              <div class="box-form-1">
                <h5>CREA TU CUENTA</h5>
                <div class="box">
                <p class="textos">Nombre</p>
                  <input class="completar" type="text" name="Nombre" value="<%= locals.oldData ? oldData.Nombre : null %>">
                  <% if (locals.errors && errors.Nombre) { %>
                     <div class="invalid-feedback">
                      <%= errors.Nombre.msg %>
                     </div>
                      <% } %>
                </div>
                <div class="box">
                <p class="textos">Apellido</p>
                  <input class="completar" type="text" name="Apellido" value="<%= locals.oldData ? oldData.Apellido : null %>">
                  <% if (locals.errors && errors.Apellido) { %>
                    <div class="invalid-feedback">
                      <%= errors.Apellido.msg %>
                    </div>
                    <% } %>
                </div>
                <div class="box">
                <p class="textos">Email</p>
                  <input class="completar" type="text" name="Email" value="<%= locals.oldData ? oldData.Email : null %>" placeholder="ejemplo@ejemplo.com">
                  <% if (locals.errors && errors.Email) { %>
                    <div class="invalid-feedback">
                      <%= errors.Email.msg %>
                    </div>
                    <% } %>
                </div>
                <div class="box">
                <p class="textos">Contraseña</p>
                  <input class="completar" type="password" name="Password" value="" placeholder="Mínimo 8 caracteres">
                  <% if (locals.errors && errors.Password) { %>
                    <div class="invalid-feedback">
                      <%= errors.Password.msg %>
                    </div>
                    <% } %>
                </div>
              </div>
              <div class="box-form-2">
                <div class="div-foto">
                <p class="textos">Foto de perfil</p>
                  <img src="/img/users/image-default.jpg" alt="image-avatar" class="user-avatar">
                  <input type="file" name="image" id="image" accept=".jpg, .png">
                  <% if (locals.errors && errors.image) { %>
                    <div class="invalid-feedback">
                      <%= errors.image.msg %>
                    </div>
                    <% } %>
                </div>
              </div>
            </div>
            <div class="box-form-3">
              <div>
                <input class="button" type="submit" name="submit" value="Registrarse">
              </div>
              <div>
                <p>¿Ya tenés cuenta? <a class="link" href="/users/login">Inicia sesión</a></p>
              </div>
            </div>
          </form>
        </section>
      </main>
      <hr class="hr-r-l">
      <%- include("../parcials/footer.ejs"); %>
  </body>

</html>