<!DOCTYPE html>
<html lang="en">

<%- include("../parcials/head.ejs", { stylesheet: ["stylehome", "style_register" ]}); %>

  <body>
    <%- include("../parcials/header.ejs"); %>
      <main class="main-register">
        <section class="form-register">
          <form action="/users/store" method="post" class="register" enctype="multipart/form-data">
            <div class="contenedor">
              <div class="box-form-1">
                <h5>CREA TU CUENTA</h5>
                <div class="box">
                <p class="textos">Nombre</p>
                  <input class="completar" type="text" name="nombre" value="<%= locals.oldData ? oldData.nombre : null %>">
                  <% if (locals.errors && errors.nombre) { %>
                     <div class="invalid-feedback">
                      <%= errors.nombre.msg %>
                     </div>
                      <% } %>
                </div>
                <div class="box">
                <p class="textos">Apellido</p>
                  <input class="completar" type="text" name="apellido" value="<%= locals.oldData ? oldData.apellido : null %>">
                  <% if (locals.errors && errors.apellido) { %>
                    <div class="invalid-feedback">
                      <%= errors.apellido.msg %>
                    </div>
                    <% } %>
                </div>
                <div class="box">
                <p class="textos">Email</p>
                  <input class="completar" type="text" name="email" value="<%= locals.oldData ? oldData.email : null %>" placeholder="ejemplo@ejemplo.com">
                  <% if (locals.errors && errors.email) { %>
                    <div class="invalid-feedback">
                      <%= errors.email.msg %>
                    </div>
                    <% } %>
                    <% if (locals.mensajeError) { %>
                      <div class="invalid-feedback">
                        <%= mensajeError %>
                      </div>
                      <% } %>
                </div>
                <div class="box">
                <p class="textos">Contraseña</p>
                  <input class="completar" type="password" name="password" value="" placeholder="Mínimo 8 caracteres">
                  <% if (locals.errors && errors.password) { %>
                    <div class="invalid-feedback">
                      <%= errors.password.msg %>
                    </div>
                    <% } %>
                </div>
              </div>
              <div class="box-form-2">
                <div class="div-foto">
                <p class="textos">Foto de perfil</p>
                  <img src="/img/users/image-default.jpg" alt="image-avatar" class="user-avatar">
                  <input type="file" name="imagen" id="image" accept=".jpg, .png">
                  <% if (locals.errors && errors.imagen) { %>
                    <div class="img-error">
                      <%= errors.imagen.msg %>
                    </div>
                    <% } %>
                </div>
              </div>
            </div>
            <div class="box-form-3">
              <div>
                <input class="button" type="submit" value="Registrarse">
              </div>
              <div>
                <p>¿Ya tenés cuenta? <a class="link" href="/users/login">Inicia sesión</a></p>
              </div>
            </div>
          </form>
        </section>
      </main>
      <hr class="hr-r-l">
      <%- include("../parcials/footer.ejs"); %>
  </body>

</html>